PORT=3000

# To get these you must register the application in osu
# callback url should match the one configured in osu
OSU_CLIENT_ID=your_client_id
OSU_CLIENT_SECRET=your_client_secret
OSU_CALLBACK_URL=http://localhost:3000/api/auth/osu/callback
OSU_API_KEY=your_osu_api_key
SESSION_SECRET=strong_string_session

# For local dev can use simple names
DB_USER=dev_usr
DB_PASSWORD=dev_pwd
DB_NAME=beathub_db
